services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - scm-network

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: iae_db
    ports:
      - "3306:3306"
    networks:
      - scm-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  auth-service:
    build: ./auth-service
    ports:
      - "8002:8002"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - scm-network

  inventory-service:
    build: ./inventory-service
    ports:
      - "8001:8001"
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - scm-network

  order-service:
    build: ./order-service
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
    networks:
      - scm-network

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    networks:
      - scm-network

networks:
  scm-network:
    driver: bridge